*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x:hidden;
    
}
.container{
     /* height:100vh; */
    /* width:100vw;  */
    overflow-x:none;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgb(188, 114, 146) 0%, rgba(236,239,227,0.241421568627451) 11%, rgba(248,219,226,0.241421568627451) 23%);

}
.navcontainer{
    width:100vw;
    /* background-color: rgb(182, 143, 220);*/
    background: rgb(157, 55, 99);
    background: radial-gradient(circle, rgb(178, 18, 87) 0%, rgba(148,187,233,1) 100%);
    min-height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#navList
{   width:100%;
    list-style:none;
    font-size:2rem;
    display:flex;
    justify-content:space-between;
    /* margin-left:15px;
    margin-right:15px; */
    padding:7px;
    align-items: center;
    
}
nav{
    width:100%;
    overflow-x:hidden;
}

#navhei{
    font-size:1.5rem;
    background-color: rgb(70, 123, 188); 
    border:5px  solid white;
    border-radius:40px;
    padding:5px;
}
a{
    text-decoration:none;
}
#spaceItems{
    font-size:1.5rem;
    display: flex;
    gap:30px;
   
}
#d{
    background-color:rgb(86, 161, 204);
    border:4px solid  white;
    border-radius:40px;
    padding:8px;
}
#b{
    background-color:rgb(86, 161, 204);
    border:4px solid  white;
    border-radius:40px;
    padding:8px;
}
#c{
    background-color:rgb(86, 161, 204);
    border:4px solid  white;
    border-radius:40px;
    padding:6px;
}
.footerbox{
    width:100%;
    height:30px;
    font-size:medium;
    text-align: center;
    background: rgb(157, 55, 99);
    background: radial-gradient(circle, rgb(178, 18, 87) 0%, rgba(148,187,233,1) 100%);
    overflow-x:hidden;
    
    
}
.contentbox{
     width:70%; 
    margin: auto;
    /* border:2px solid black; */
    background-color: white;
    display:flex;
    flex-direction:column;
    gap:100px;
    border-radius:30px;
    /* box-shadow: 5px 5px 30px black; */
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    overflow-x:hidden;
}
    
   

.item{
    margin:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
}
.rightbox img{
    height:250px;
    width:250px;
    border-radius: 30px;
    transition: all 06s linear 0;
    
}
.leftbox{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.leftbox h2{
    font-size:2rem;
}
.ingbox{
    font-size:18px;
}
.repbox{
    font-size:18px;
    max-width:600px;
}
.rightbox:hover{
    transform:scale(1.1);
}
    .rightbox{
    position:relative;
    overflow:hidden; 
}
 .overlay{
    border-radius: 20px;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:rgba(198, 165, 165, 0.397);
    opacity:0;
     display: flex;
     justify-content: center;
     align-items: center;
  
}
.rightbox .overlay:hover{
    opacity:1;
}
body{background: rgb(130,21,48);
    background: radial-gradient(circle, rgba(130,21,48,0.241421568627451) 27%, rgba(238,174,202,1) 46%, rgba(227,229,239,0.241421568627451) 48%, rgba(248,219,226,0.241421568627451) 50%, rgba(130,21,48,0.241421568627451) 69%);
}
   
